newsautomation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "7b58def7-914b-42d2-940e-25bf5afe59e3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        0
      ],
      "id": "cea4b57d-0930-45e6-b960-4973c7ea477f",
      "name": "Loop Over Items",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        960,
        112
      ],
      "id": "8e17e50c-8be7-48e2-b8a1-e7f3d5efd925",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47853272-3452-4b88-a3f8-558260f54413",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $today.minus({days:1}) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -96
      ],
      "id": "607f447b-1083-4de9-a523-0a625fa350c9",
      "name": "If"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1376,
        -112
      ],
      "id": "44c3e6d0-98bc-4407-820e-8e670327ad26",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news assistant creating short, informative, and engaging summaries of the latest Artificial Intelligence (AI) news.  Your goal is to compress the content while retaining its core significance, in a tone suitable for a newsletter reader. Each summary should highlight:  - What happened? - Why it matters for AI? - Keep it brief (2-3 lines max) - End with: 📎 [Read more](link)  Only summarize **AI-related** topics. Ignore irrelevant or generic tech news.  ---  📌 Example:  🔹 **NSF invests $100M in AI research** – The National Science Foundation announced major funding to strengthen U.S. leadership in AI through National AI Research Institutes.   📎 [Read more](https://news.google.com/...)"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1616,
        -112
      ],
      "id": "26f74d65-df1c-4730-88f2-e8944ab7cb7f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1648,
        80
      ],
      "id": "4617e456-7181-46a9-91c0-da4eec11665e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "gNqtAqrWOVhR7CFJ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 5);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -112
      ],
      "id": "68cc5540-f09e-490b-b6ab-42345ce9d924",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const rawText = items[0].json.text;\n\n// Split by each bullet point\nconst articles = rawText.split('🔹').filter(Boolean);\n\nlet html = '<h2>📰 Your Daily AI Digest</h2><ul>';\n\nfor (let article of articles) {\n  // Extract title, summary, and link\n  const match = article.match(/\\*\\*(.*?)\\*\\* – (.*?)\\s*📎 \\[Read more\\]\\((.*?)\\)/);\n  if (match) {\n    const [, title, summary, link] = match;\n    html += `<li><strong>${title}</strong> – ${summary} <a href=\"${link}\">📎 Read more</a></li>`;\n  }\n}\n\nhtml += '</ul>';\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -112
      ],
      "id": "ced69b03-96a1-4541-a593-bfd101fb37e6",
      "name": "Code1"
    },
    {
      "parameters": {
        "sendTo": "sakshamagarwalm2@gmail.com",
        "subject": "News Update Automation N8N Saksham",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2176,
        -112
      ],
      "id": "c8340f94-cff5-42d9-a98c-3f872fe2daf5",
      "name": "Send a message",
      "webhookId": "901e2bdf-4bec-41ad-aa48-695fdef31287",
      "credentials": {
        "gmailOAuth2": {
          "id": "VYjC5tleaPSFkVqd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c1b2738-3a71-49de-bfc1-49c1bcfbbf70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6a3a4de603bc3a06b65a0f529852252006a23449e5118b120db382d34075db0"
  },
  "id": "lTjvYmu8HLu4qA3f",
  "tags": []
}